.container {
  display: flex;
  justify-content: space-between;
}
.section {
  width: 48%; 
}
.collapsible {
  list-style: none;
  padding: 0;
  background-color: black;
  color: white;
}
.collapsible li {
  margin: 5px 0;
  border-radius: 45px;
}
/* Style the Stock and Currency buttons */
.collapsible-header {
  background-color: #02101A; 
  color: white; 
  padding: 10px; 
  border: 1px solid #007ACC; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; 
  cursor: pointer;
}

.collapsible-header i {
  font-size: 20 px;
}

select {
  background-color: white; 
  color: #007ACC; 
  font-size: 16px; 
  height: 60px; 
}

select option {
  color: #007ACC; 
  height: 30px; 
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.stockimageheader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Place the image behind other content */
}
.stockimageheader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

body,h1,h2,h3,h4,h5,p {
  text-align: center;
  color: white;
  font-weight: bold;
}
footer {
  background-image: linear-gradient(50deg, #079ED8 0%, #0160A2 100%);
  }   
footer .github-links {
  font-weight: bold;
  font-size: 20px;
  display: none;
  position: center;
  top: 50%;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(50deg, #079ED8 0%, #0160A2 100%);
  padding: 20px;
  color: aliceblue;
}
.footer.github-links a:hover {
  color: white;
}
.github-links a {
  color: white; 
}
.close-button {
  float: right;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.footer .contact-section {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin-left: 450px;
  margin-right: auto;
}
.footer .contact-section .btn-large {
  position: absolute;
  bottom: 8px;
  left: 16px;
  margin: 0 20px; 
}

#stockInfo {
  align-content: center;
  display: grid;
  grid-template:
    'stockSymbol lastPrice'
    'volume exchangeRate';
  background-image: linear-gradient(50deg, #079ED8 0%, #0160A2 100%);
  margin: 0px 20px;

}

#stockInfo p {
  margin: 5%;
}

#stockSymbol {
  grid-area: stockSymbol;
  text-decoration: underline;
  border-style: solid;
  font-size: large;
}

#lastPrice {
  grid-area: lastPrice;
  text-decoration: underline;
  border-style: solid;
  font-size: large;
}

#volume {
  grid-area: volume;
  text-decoration: underline;
  border-style: solid;
  font-size: large;
}

#exchangeRate {
  text-decoration: underline;
  grid-area: exchangeRate;
  border-style: solid;
  font-size: large;
}